html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2cd8cd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.container {
  background-color: white;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.item {
  list-style: none;
  padding-bottom: 8px;
  font-size: 10px;
}